services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: jahapanah
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: expense_tracker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: